USE [master]
GO
/****** Object:  Database [NTTDATA]    Script Date: 6/28/2023 12:43:26 PM ******/
CREATE DATABASE [NTTDATA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NTTDATA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NTTDATA\MSSQL\DATA\NTTDATA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NTTDATA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NTTDATA\MSSQL\DATA\NTTDATA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NTTDATA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NTTDATA]
GO
/****** Object:  User [nttdata]    Script Date: 6/28/2023 12:43:27 PM ******/
CREATE USER [nttdata] FOR LOGIN [nttdata] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [1234]    Script Date: 6/28/2023 12:43:27 PM ******/
CREATE USER [1234] FOR LOGIN [1234] WITH DEFAULT_SCHEMA=[dbo]
GO
USE [NTTDATA]
GO
/****** Object:  Sequence [dbo].[clientes_seq]    Script Date: 6/28/2023 12:43:27 PM ******/
CREATE SEQUENCE [dbo].[clientes_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NTTDATA]
GO
/****** Object:  Sequence [dbo].[cuentas_seq]    Script Date: 6/28/2023 12:43:27 PM ******/
CREATE SEQUENCE [dbo].[cuentas_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NTTDATA]
GO
/****** Object:  Sequence [dbo].[movimientos_seq]    Script Date: 6/28/2023 12:43:27 PM ******/
CREATE SEQUENCE [dbo].[movimientos_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
USE [NTTDATA]
GO
/****** Object:  Sequence [dbo].[persona_seq]    Script Date: 6/28/2023 12:43:27 PM ******/
CREATE SEQUENCE [dbo].[persona_seq] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 50
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 6/28/2023 12:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[cliente_id] [bigint] NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[estado] [varchar](255) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[telefono] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 6/28/2023 12:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas](
	[cuenta_id] [bigint] NOT NULL,
	[estado] [varchar](255) NOT NULL,
	[nombrede_cliente] [varchar](255) NOT NULL,
	[numero_cuenta] [varchar](255) NOT NULL,
	[saldo_inicial] [varchar](255) NOT NULL,
	[tipode_cuenta] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cuenta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_7h7mqvcau3mcl0mbrkdrt7fnh] UNIQUE NONCLUSTERED 
(
	[numero_cuenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 6/28/2023 12:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[movimiento_id] [bigint] NOT NULL,
	[estado] [varchar](255) NOT NULL,
	[fecha_movimiento] [varchar](255) NOT NULL,
	[movimiento_monto] [varchar](255) NOT NULL,
	[nombrede_cliente] [varchar](255) NOT NULL,
	[numero_cuenta] [varchar](255) NOT NULL,
	[saldo_disponible] [varchar](255) NOT NULL,
	[saldo_inicial] [varchar](255) NOT NULL,
	[tipo_movimiento] [varchar](255) NOT NULL,
	[tipode_cuenta] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[movimiento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[persona]    Script Date: 6/28/2023 12:43:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[persona](
	[cliente_id] [bigint] NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[edad] [varchar](255) NOT NULL,
	[genero] [varchar](255) NOT NULL,
	[nombres] [varchar](255) NOT NULL,
	[telefono] [varchar](255) NOT NULL,
	[identificación] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[cliente_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
